body, html {
  height: 100%;
  width: 100%;
	font-family:"Helvetica","Arial",sans-serif;
}

body {
  background: #004d7a; /* for non-css3 browsers */
	background-image: linear-gradient(to right top, #471069, #228992);
  background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 0.1em;
  color: white;
  margin: auto 0 2rem;
  padding-top: 2rem;
}

h2 {
  font-size: 1.5em;
  letter-spacing: 0.02em
}

h1, h2, li a {
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a:hover {
  color: wheat;
}

.main-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: disc;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.8em;
}

.main-links a {
	border: 0.16em solid #EEE;
	padding: 0.4em;
	margin: 0.5em;
  white-space: nowrap;
	display: inline-block;
	border-radius: 0.5em;
	color: #EEE;
	font-size: 1.6em;
  font-weight: 600;
	text-transform: capitalize;
	text-decoration:none;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.main-links a:hover {
	background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.archive {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  color: #dadada;
  margin-bottom: auto;
}

.archive a {
  margin: 0.2em;
  color: lightgray;
  text-underline-offset: 0.2em;
}

@media screen and (max-width: 50em) {
  .main-links {
    flex-direction: column;
  }
}
